body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: grid;
    place-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s ease;
    position: relative;
    

border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.8px);
-webkit-backdrop-filter: blur(6.8px);
}

#modelSelect {
position:fixed;
top: 20px;
left: 20px;
padding: 10px;
border-radius: 5px;
background-color: #00fffc;
border: 2px solid #0050e4;
font-size: 16px;
cursor: pointer;
transition: border-color 0.3s ease, box-shadow 0.3s ease;
font-family: 'Montserrat', sans-serif;
}

#modelSelect:hover {
border-color: #00b509;
box-shadow: 0 0 10px rgba(68, 3, 128, 0.5);
}

#modelSelect:focus {
font-family: Georgia, 'Times New Roman', Times, serif;
outline: none;
border-color: #008950;
box-shadow: 0 0 10px rgba(0, 95, 137, 0.7);
}

#modelSelect option {
font-family: Georgia, 'Times New Roman', Times, serif;
padding: 10px;
font-size: 16px;
background-color: #fff;
}

h1 {
    color: #000000;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 20px;
    position: sticky;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.videoView {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    animation: slideUp 1s ease;
    position: relative;
}

#webcam {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.output_canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.detected-words-box {
    margin-top: 40px;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: colorChange 10s ease infinite;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes colorChange {
    0%, 100% {
        background-color: #f9f9f9;
    }
    50% {
        background-color: #ececec;
    }
}

.detected-words-box:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.detected-words-box h3 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 10px;
}

.detected-words-box p {
    font-size: 18px;
    color: #000000;
    line-height: 1.6;
}

.copy-button {
    background-color: #01e6da;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.copy-button:hover {
    background-color: #8af5ef;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffffff;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
    }
}

.loading-message {
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}